body{
    background-color: blueviolet;
    color: aqua;
    width: 80;
    border: margin;
}
h1{
    color: yellow;
    text-align:  center;
    border: 2px solid yellow;
    font-family: cursive;
    border-radius: 12px;
}
h1:hover{
    background-color: aqua;
    color: black;
    font-size: 40px;
}

.parastyle{
    font-family: cursive;
    color: aqua;
}